<!-- Index should display total absences/lates for the entire class and then each individual student in the table. Then when clicking on individual students, the instructor should be able to edit the students records. -->




<h1>Students</h1>
	<ul>
		<% @students.each do |student| %>
			<li><%=link_to student.name, student_path(student) %></li>
		<% end %>
	</ul>
