
<div class = "logout">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <%= button_to "Add new Cohorts", '/cohorts/new', method: "get" %>
</div>


<h1>Hello, <%= @producer.name %>!</h1>

<h2>Here are your Cohorts: </h2>
<% @cohorts.each do |cohort| %>
<h3="cohort-name"><%= link_to cohort.name, producer_cohort_overview_path(@producer, cohort) %></h3>
<!-- "/overview/#{@cohorts}" -->
<% end %>


