<h1>Hello, <%#= @producer.name %>!</h1>

<h2>Here is your Cohort: </h2>
<h3><%#= link_to @cohorts.name, producer_cohort_overview_path(@producer, @cohorts) %></h3>
<!-- "/overview/#{@cohorts}" -->

<h1>hello from index. it worked.</h1>
