

<div class = "logout">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <br /><%= button_to "Back", :back %><br />
</div>

<h1>Add a Cohort:</h1>

<div="cohort-add-buttons">
<% @cohorts["cohorts"].each do |cohort| %>
  <h3><%= link_to cohort["name"], new_cohort_student_path(cohort["id"]) %></h3>

  <div class="add-cohort-button">
    <%= button_to "Add", "/cohorts", params: {
        id: cohort["id"],
        name: cohort["name"],
        starts_on: cohort["dates"]["starts_on"],
        ends_on: cohort["dates"]["ends_on"],
        producer_id: cohort["producer_id"]
      },
    method: "post" %>
  </div>
<% end %>
</div>
