
<h1>Here are the students:</h1>
	<ul>
		<% @students.each do |student| %>
		<li>
      <%= link_to student.name, student_path(student) %>
      <%= link_to "Edit student", edit_student_path(student) %>
    </li>
		<% end %>
	</ul>

