
<div class = "logout">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <%= button_to "Home", @home , method: "get" %>
</div>


<h1>Here are the students:</h1>
	<ul>
		<% @students.each do |student| %>
		<li><%= link_to student.name, student_path(student) %></li>
		<% end %>
	</ul>

