<h1>Add a new Producer:</h1>

<% @producers_hash.each_pair do |id, producer| %>
  <h3><%= producer[1]["data"]["first"] + " " + producer[1]["data"]["last"] %></h3>

  <%= button_to "Add", "/producers", params: {
      name: producer[1]["data"]["first"] + " " + producer[1]["data"]["last"],
      email: producer[1]["contact"]["email"],
      cohort_id: producer[1]["cohort"]
    },
    method: "post" %>
<% end %>
