
<div class = "logout">
  <%= button_to "Logout", '/sessions', method: "delete" %>
  <br /><%= button_to "Back", :back %><br />
</div>


<h1>Add a new Producer:</h1>

<% @producers.each do |producer| %>
  <h3><%= producer["data"]["first"] + " " + producer["data"]["last"] %></h3>

  <% this_cohort = @cohorts["cohorts"].select do |cohort| %>
    <% cohort["producer_id"] == producer["id"] %>
  <% end %>

  <%= button_to "Add", "/producers", params: {
      id: producer["id"],
      name: producer["data"]["first"] + " " + producer["data"]["last"],
      email: producer["contact"]["email"],
      password: "12345"
    },
    method: "post" %>
<% end %>
