<h1>Add a new Producer:</h1>

<% @producers.each do |producer| %>
  <h3><%= producer["data"]["first"] + " " + producer["data"]["last"] %></h3>

  <% this_cohort = @cohorts["cohorts"].select do |cohort| %>
    <% cohort["producer_id"] == producer["id"] %>
  <% end %>

  <%= button_to "Add", "/producers", params: {
      name: producer["data"]["first"] + " " + producer["data"]["last"],
      email: producer["contact"]["email"],
      cohort_id: this_cohort.first["id"]
    },
    method: "post" %>
<% end %>
