/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *= require_self
 */

require_self
require_tree


html, body {
  font-family: Arial;
  color: white;
  background-color: #00CED1;
}

/*input.login{
  width:200px;
  height:20px;
  border-radius: 50px;
}*/

h1.login{
  margin: 0 auto;
  position: relative;
  text-align: center;

}

/*h3.cohort-name{
  margin-left:300px;
}*/


img{
  margin: 0 auto;
  position: relative;
  left:300px;

}

/*form{
  top:0px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border-radius: 30px;
}
*/
.absences{
  position: relative;
  margin: 0 auto;
  display: inline-block;
  left: 120px;
  padding-left:15px;
}

.add-cohort-button{
  left:-200px;
}


/*ul.unordered-list-of-students{
  margin-top:-200px;
}*/

/*div.logout{
  margin-top:-100px ;
  border-radius: 50px;
}*/

/*.button_to{
  text-decoration: none;
  width:50px;
  border: 10px;
  height:30px;
  border-radius: 28px;
  top:0px;
  left:-650px;
}*/

/*div.cohort-add-buttons{
  width:100px;

}
*/



