<!DOCTYPE html>
<html>
<head>
  <title>WdiAttendance</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="https://generalassemb.ly/assets/ga-lockup-1788582934ade008a8ea6068b784b8ee.png">



<%= yield %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.js'></script>

</body>
</html>
